.container{
    font-weight: 400;
    color: blue;
    text-decoration: underline wavy coral ;
    font-style: italic ;
    font-size: xx-large;
     background-color: aqua;
     padding: left 200px;


}