
.btn{
  
  
  background-color:white;
  height: 100%;
    padding-top: 200Px;
    padding-bottom:200Px ;
    padding-left:600Px ;
    padding-right: 200Px;
  

    
    
}
.b{
  border-left:50px;
  border-top: 50px;
  border-right:50px ;
  border-bottom:50px ;
}

    