
<div class="parent">
    <h1 class="heading"  *ngIf="!uName">My Application</h1> 
    <h1 class="heading"  *ngIf="uName">wel-come {{uName}},</h1>
     
    <!-- <button (click)="landing()" class="btn-login">landing</button> -->
    <button (click)="login()" class="btn-login">login</button>&nbsp;
     <button (click)="signup()" class ="btn-login">signup</button>
     <!--  <button routerLink="/signup" class="btn-login">signup</button>  -->
     <button (click)="signin()" class="btn-login">signin</button>
     <button (click)="userActivity()"  class="btn-login">userActivity</button>
     <!-- <button (clicl)="userdemo()" class="btn-login">userdemo</button> -->
     <button routerLink="/user/userdemo" class="btn-login">userdemo</button> 
     <button (click)="directives()" class="btn-login">Directives</button>
     <!-- <button (click)="submit()" class="btn-login">submit</button> -->
     <button (click)="lifeCycleHooks()" class="btn-login">lifeCycleHooks</button>
     <button (click)="parent()"  class="btn-login"> Parent </button>
    <button (click)="child()"  class="btn-login">child</button> <br><br>
    <button (click)="apicall()" class="btn-login">API CALL</button ><br> <br>
    <button (click)="getapicall()" class="btn-login">GET API CALL</button>
      
     
    
    
</div><br><br>
<div>{{list}}</div>
