.Deco{
    background-image: url('/assets/images/hotel.jpg');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.butn{
    padding: 6px 6px;
    margin: 5px;
    border-color: black;
    color: rgb(16, 0, 16) ;
    background-color:rgb(216, 234, 15);
}
.btn-d{
    position: relative;
    top: 25px;
}