

    
    .hedimg_from{
        border: 1px solid black;
        background-color: rgb(117, 161, 180);
        height: 300px;
        width: 300px;
        margin-left: 91px;
        margin-top: 50px;
        padding: 20px 24px;
    }
    .cas{
        margin-left: 157px;
        margin-top: 10px;
        color: rgb(19, 6, 57);
    }
    .err{
        color: red;
        font-size: 15px;
        font-family: 'Times New Roman';
    }

